<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Neo-Technology - Alumnos</title>
	<link rel="stylesheet" id="bootstrap-css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<h1 style="margin:20px 0" th:text="${alumno instanceof T(pe.edu.upc.spring.model.Alumno) ? 'Nuevo alumno' : 'Editar alumno'}"></h1>
		<div th:replace="fragments/messages::messages"></div>
		<form th:action="@{/alumnos/registrar}" method="post" th:object="${alumno}">
			<div class="form-group">
				<label for="id">ID:</label>
				<input type="text" class="form-control" th:field="*{id}" id="id">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('id')}" 
					th:errors="*{id}">
				</div>
			</div>
			<div class="form-group">
				<label for="nombre">NOMBRE:</label>
				<input type="text" class="form-control" th:field="*{nombre}" id="nombre" maxLength="50">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" 
					th:errors="*{nombre}">
				</div>
			</div>
			<div class="form-group">
				<label for="nombre">APELLIDO:</label>
				<input type="text" class="form-control" th:field="*{apellido}" id="apellido" maxLength="50">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}" 
					th:errors="*{apellido}">
				</div>
			</div>
			<div class="form-group">
				<label for="nombre">CORREO ELECTRÓNICO:</label>
				<input type="text" class="form-control" th:field="*{correo}" id="correo" maxLength="50">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('correo')}" 
					th:errors="*{correo}">
				</div>
			</div>
			<div class="form-group">
				<label for="nombre">CONTRASEÑA:</label>
				<input type="password" class="form-control" th:field="*{contrasena}" id="contrasena" maxLength="20">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('contrasena')}" 
					th:errors="*{contrasena}">
				</div>
			</div>
			<div align="center" style="margin:30px 0 10px">
				<button type="submit" class="btn btn-primary">
					<span class="glyphicon glyphicon-floppy-disk"></span> Guardar
				</button>
				<a href="/alumnos/" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>