<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Neo-Technology - Bienvenido</title>
	<link rel="stylesheet" id="bootstrap-css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<div align="center">
			<h1 style="margin:20px 0">Bienvenido a Neo-Technology</h1>
			<img th:src="@{/imagenes/index.png}" width="800" alt="logo" align="middle"></img>
		</div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>