<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Neo-Technology - Días</title>
	<link rel="stylesheet" id="bootstrap-css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<h1 style="margin:20px 0">Días</h1>
		<div th:replace="fragments/messages::messages"></div>
		<form th:action="@{/dias/buscar}" method="post" th:object="${dia}">
			<div class="form-group">
				<label for="nombre">Texto a buscar:</label>
				<input type="text" class="form-control" th:field="*{nombre}" id="nombre">
			</div>
			<button type="submit" class="btn btn-primary btn-md left-block">
				<span class="glyphicon glyphicon-search"></span> Buscar
			</button>
			<a type="button" class="btn btn-primary btn-md left-block" th:href="@{/dias/irRegistrar}" id="add-row">
				<span class="glyphicon glyphicon-plus"></span> Nuevo
			</a>
		</form>
		<div style="height:20px"></div>
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<table class="table table-bordered table-hover table-striped" id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CÓDIGO</th>
								<th class="text-center">NOMBRE</th>
								<th class="text-center">OPERACIONES</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="i:${listDia}">
								<td th:text="${i.id}"></td>
								<td th:text="${i.nombre}"></td>
								<td style="text-align:center">
									<a th:href="@{'/dias/modificar/'+${i.id}}"><span class="glyphicon glyphicon-edit" title="Modificar"></span></a>
									<a th:href="@{/dias/eliminar?id=}+${i.id}"><span class="glyphicon glyphicon-trash" title="Eliminar"></span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</form>
		<div th:replace="fragments/result::result"></div>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>