<!DOCTYPE html>
<html xmlns:th="http:www.thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Neo-Technology - Matrícula</title>
	<link rel="stylesheet" id="bootstrap-css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header::header"></div>
	<div class="container">
		<h1 style="margin:20px 0">Matrícula</h1>
		<form th:action="@{/matriculas/buscar}" method="post" th:object="${matricula}">
			<div class="form-group">
				<label for="comprobante">Texto a buscar:</label>
				<input type="text" class="form-control" th:field="*{comprobante}" id="comprobante">
			</div>
			<button type="submit" class="btn btn-primary btn-md left-block" 
				style="border-bottom-color:green">
				<span class="glyphicon glyphicon-search"></span> Buscar
			</button>
			<a style="border-bottom-color:green" th:href="@{/matriculas/irRegistrar}" id="add-row" 
				type="button" class="btn btn-primary btn-md left-block">
				<span class="glyphicon glyphicon-plus"></span> Nuevo
			</a>
		</form>
		<div style="height:20px"></div>
		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<table class="table table-bordered table-hover table-striped" id="tab_logic">
						<thead>
							<tr>
								<th class="text-center">CÓDIGO</th>
								<th class="text-center">CURSO</th>
								<th class="text-center">ALUMNO</th>
								<th class="text-center">COMPROBANTE</th>
								<th class="text-center">FECHA PAGO</th>
								<th class="text-center">MONTO</th>
								<th class="text-center">OPERACIONES</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="i:${listMatricula}">
								<td th:text="${i.id}"></td>
								<td th:text="${i.curso.idioma.nombre + ' ' + i.curso.nivel}"></td>
								<td th:text="${i.alumno.nombre + ' ' + i.alumno.apellido}"></td>
								<td th:text="${i.comprobante}"></td>
								<td th:text="${#dates.format(i.fechaPago,'dd/MM/yyyy')}"></td>
								<td th:text="${i.monto}"></td>
								<td style="text-align:center">
									<a th:href="@{'/matriculas/modificar/'+${i.id}}"><span class="glyphicon glyphicon-edit" title="Modificar"></span></a>
									<a th:href="@{/matriculas/eliminar?id=}+${i.id}"><span class="glyphicon glyphicon-trash" title="Eliminar"></span></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>