<!DOCTYPE html>
<html xmlns:th="thymeleaf.org">
<head>
	<meta charset="UTF-8"></meta>
	<title>Neo-Technology - Inicio de sesión</title>
	<link rel="stylesheet" id="bootstrap-css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
	<div class="container" align="center">
		<h1 style="margin:50px 0">Inicio de sesión</h1>
		<img th:src="@{/imagenes/user.png}" width="200" alt="logo" align="middle" style="margin-bottom:20px"></img>
		<form th:action="@{/login}" method="post">
			<div class="col-sm-4"><br></div>
			<div class="col-sm-4">
				<div th:if="${error}" class="alert alert-danger">
					<p th:text="${error}"></p>
				</div>
				<div th:if="${success}" class="alert alert-success">
					<p th:text="${success}"></p>
				</div>
				<input type="text" name="username" id="username" style="margin-bottom:20px"
					class="form-control" placeholder="Usuario" autofocus required/>
				<input type="password" name="password" id="password" style="margin-bottom:20px"
					class="form-control" placeholder="Contraseña" required/>
				<input type="submit" class="btn btn-lg btn-primary btn-block"
					value="Iniciar sesión" />
			</div>
			<input type="hidden" th:name="${_csrf.parameterName}"
				th:value="${_csrf.token}" />
		</form>
	</div>
	<br/>
	<div th:replace="fragments/footer::footer"></div>
</body>
</html>